@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1769582331598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangchanguanli:before {
  content: "\e60b";
}

.icon-fankuijianyi:before {
  content: "\e60c";
}

.icon-xiaoxi:before {
  content: "\e60d";
}

.icon-chuangjian:before {
  content: "\e60e";
}

