.w {
  width: 1240px;
  margin: 0 auto;
}
.daohang {
  height: 52px;
  background-color: #333;
}
.daohang .w ul {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.daohang .w a {
  color: #fff;
}
.daohang .w .line {
  width: 1px;
  height: 12px;
  background-color: #999;
  margin: 0 15px;
}
.daohang .li i {
  font-size: 18px;
  margin-right: 4px;
}
.daohang li:first-child a {
  color: #5eb69c;
}
.daohang li a:hover {
  color: #5eb69c;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
}
.header .logo {
  width: 200px;
  height: 88px;
}
.header .logo h1 {
  width: 100%;
  height: 100%;
}
.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

.nav li a:hover {
  color: #5eb69c;
  border-bottom: 2px solid #5eb69c;
}

.search input {
  width: 170px;
  height: 40px;
  border-bottom: 2px solid #f4f4f4;
  padding-left: 20px;
  font-size: 16px;
}
.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}
.car i {
  font-size: 40px;
  mask-repeat: 15px;
}
.footer {
  background-color: #f5f5f5;
  height: 580px;
}
.kouhao {
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}
.kouhao ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 178px;
}
.kouhao ul li {
  display: flex;
  align-items: center;
}

.kouhao ul li p {
  font-size: 28px;
  margin-left: 20px;
}
.kouhao li h5 {
  width: 58px;
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
}
.kouhao li .two {
  background-position: 0 -58px;
}
.kouhao li .three {
  background-position: 0 -116px;
}
.kouhao li .four {
  background-position: 0 -174px;
}
.fuwu {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.fuwu .left {
  display: flex;
  gap: 84px;
}
.fuwu .left dt {
  font-size: 18px;
  margin-bottom: 30px;
}
.fuwu .left dd {
  margin-bottom: 10px;
}
.fuwu .left dd a {
  color: #969696;
}
.fuwu .left a i {
  color: #00be9a;
}
.fuwu ul {
  display: flex;
  text-align: center;
}
.fuwu ul li {
  margin-left: 55px;
  color: #969696;
}
.fuwu ul li p {
  padding-top: 10px;
}
.banquan {
  margin-top: 100px;
  line-height: 30px;
  color: #a1a1a1;
  text-align: center;
}
