body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.red {
  background-color: brown;
}
