body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 620px;
  margin-top: 50px;
}

.color {
  width: 200px;
  height: 200px;
  background-color: aqua;
  transition: all 0.5s;
  background-image: url("https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif");
}

.red {
  background-color: brown;
  border-radius: 10px;
  transform: scale(0.8);
}
